language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
before_install:
  - pip install coveralls pytest coverage mock pylint vcrpy
install:
  - pip install .
script:
  - pylint --rcfile .pylintrc -E rtv/
  - coverage run -m py.test -v
after_success:
  - coveralls
