interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.reddit.com/domain/python.org/top.json?limit=1024
  response:
    body: {string: '{"kind": "Listing", "data": {"modhash": "", "children": [], "after":
        null, "before": null}}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      X-Moose: [majestic]
      x-reddit-tracking: ['https://pixel.redditmedia.com/pixel/of_destiny.png?v=fzCicLzTzf1cQvWa4eyconUwFTsx1yexOSIgoC5Ds37TMZNws5Q%2BDR0FN2inKz5H1ffEoBkA3Eqhn59mEmIHQ4BN86SpDVrJ']
    status: {code: 200, message: OK}
version: 1
